.building-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-inner {
    position: relative;
    padding: 32px;
    width: 100px;
    height: 100px;
    background-color: blue;
}